/*resets the box size of every element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*gives the body element a parent height to compare against*/
html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    background-color: #BB09E2;
    color: #ffffff;
}



.profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
  
.header h1 {
    font-size: 45px;
    margin: 0;
}
  
.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}
  
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
    list-style: none;
    padding: 0;
}
  
nav ul li {
    margin-left: 10px;
}
  
nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

div .section{
    border: 5px solid #BB09E2;
    margin: 5px 5px 5px 5px;
}

.second-head {
    display: inline-block;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    margin: 20px 20px 20px 0;
    padding: 0 10px;
    background-color: #BB09E2;
    box-sizing: border-box;
}

.img-work {
    display: flex;
    flex-wrap: wrap;
}
.img-work > div img{
    display: block;
}
.img-work > div {
    position: relative;
    flex-basis: 33.33%;
    padding: 0;
    margin: 5px;
    border: 5px solid #BB09E2;
    box-sizing: border-box;
}

.img-work > div:first-child {
    flex-basis: 100%;
    margin-bottom: 0px;
    margin-top: 30px;
}

.img-work .first-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-work .rest-image-link img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-work > div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #BB09E2;
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-work > div:hover .overlay {
    opacity: 1;
}

.img-work > div a img:hover {
    box-shadow: 0 0 10px 10px rgba(187, 9, 226, 0.7);
}

.section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    
}
  
.section li {
    padding: 5px;
    margin-right: 20px;
    border-top: 5px solid #BB09E2;
    border-right: 5px solid #BB09E2;
}

.section .github {
    border-left: 5px solid #BB09E2;
}

strong {
    background-color: #BB09E2;
    color: #ffffff;
    margin-left: -5px;
}

/* matches the font of special elements to the rest of the page*/
input, select, option, optgroup, textarea, button, pre, code {
    font-size: 100%;
    font-family: inherit;
}

/* removes default bullet points from lists */

